<ion-view title="{{artwork.title}}">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-information-circled" ng-click="displayArtworkInfo();"></button>
  </ion-nav-buttons>
  <ion-content class="has-header artwork-slidebox" has-bouncing="false">

    <ion-slide-box>
      <ion-slide>
        <div class="box blue">
        <img src="{{ artwork.images.fluid }}">
        </div>
      </ion-slide>
      <ion-slide>
        <img src="{{ artwork.images.grid }}">
      </ion-slide>
    </ion-slide-box>

  </ion-content>
</ion-view>