<ion-view title="{{ viewTitle }}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header white-bg" paging="true">
        <div class="artworks-listing">
            <div class="artwork-box" ng-repeat="art in artworks">
                <div class="art-item">
                    <a id="artwork{{ art.id }}" on-tap="openArtwork({{ art.id }});">
                        <img ng-src="{{ art.imageSrc }}">
                    </a>
                    <div class="artwork-description">
                        <span class="title">{{ art.name }}</span>
                    </div>
                </div>

            </div>
        </div>

        <div ng-if="artworksCount == 0" class="center">
            <div class="main-article dark no-found">
                <i class="icon ion-more"></i>
                <div>It appears you don't have any artworks.</div>
            </div>
        </div>

        <ion-infinite-scroll ng-if="isNextPageAvailable();" on-infinite="loadNextPage();" distance="0%"></ion-infinite-scroll>
        <div ng-if="isNextPageAvailable() === false;" class="center"></div>
      </ion-content>
</ion-view>