<ion-view title="Collections ({{ collectionsCount }})">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content padding="false" class="has-header white-bg">

  <div class="artworks-listing" ng-if="collections">
      <div class="artwork-box collection" ng-repeat="collection in collections">
          <a href="#/portfolio/by-collection/{{ collection.slug }}/" class="art-item">
              <div class="main-image">
                  <img ng-src="{{ collection.cover_image.imageUrl }}" />
              </div>
              <div class="sub-images clearfix">
                  <div class="image" ng-repeat="sub_image in collection.sub_images">
                      <img ng-src="{{ sub_image.imageUrl }}" />
                  </div>
                  <div class="image" ng-if="collection.sub_images.length < 3">
                      <img src="assets/images/placeholder.png">
                  </div>
                  <div class="image" ng-if="collection.sub_images.length < 2">
                      <img src="assets/images/placeholder.png">
                  </div>
                  <div class="image" ng-if="collection.sub_images.length < 1">
                      <img src="assets/images/placeholder.png">
                  </div>
              </div>

              <div class="artwork-description">
                  <span class="title">{{ collection.name }}</span>
              </div>
          </a>
      </div>
  </div>
    <div ng-if="collectionsCount == 0" class="center">
      <div class="main-article dark no-found">
          <i class="icon ion-more"></i>
          <div>It appears you don't have any collections.</div>
      </div>
    </div>
  </ion-content>
</ion-view>