<ion-view title="Add subscriber">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content has-header="true" padding="true" class="">
    <p>Person added below will automatically follow you on Artfinder and will receive updates on new work added, sales and offers.</p>

    <form ng-submit="submitSubscriber(subscriber);">
    <div class="list list-inset">
      <label class="item item-input item-stacked-label">
        <span class="input-label">First Name (optional)</span>
        <input type="text" placeholder="Michael" ng-model="subscriber.first_name">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Last Name (optional)</span>
        <input type="text" placeholder="Jackspon" ng-model="subscriber.last_name">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="michael@jackson.com" ng-model="subscriber.email">
      </label>
    </div>

    <ion-toggle toggle-class="toggle-calm">
        The above person gave me explicit permission to add to my Artfinder followers
    </ion-toggle>

    <ion-toggle toggle-class="toggle-calm">
        Also subscribe to Artinder's Inspirations newsletter<br/>
        (definitely no spam + stop emails at any time!)
    </ion-toggle>

    <button class="button button-block button-calm activated">Submit</button>

    </form>

  </ion-content>
</ion-view>