<ion-view>
  <ion-content padding="true" has-bouncing="false">

    <ion-slide-box>
      <ion-slide class="center">
        <h1 class="title">Take your art with you</h1>

        <p><img src="assets/samples/welcome-sample.png" style="max-width: 100%;"/></p>

        <p>Download your entire Artfinder Portfolio and take it with you to shows, exhibitions or simply show it to your family or friends!</p>

        <p>Swipe to continue...</p>

      </ion-slide>

      <ion-slide>

        <span class="center">
        <h1>Let's get started!</h1>
        <p>Once logged into your Artfinder account we'll begin downloading your entire Portfolio.</p>
        <p id="info-data-charges">* Data charges may apply (check with your operator)</p>
        </span>

        <div class="list list-inset">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Email address</span>
            <input type="email" placeholder="james@smith.com">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Password</span>
            <input type="password" placeholder="Password">
          </label>
        </div>

        <span class="center">

        <div id="cellular_warning"></div>

        <p><a ng-href="#/intro/fetch" class="button icon-right ion-chevron-right button-calm">Login</a></p>
        <p>or</p>
        <p><a ng-href="#/facebook-login" class="button icon-left ion-social-facebook button-calm">Continue with Facebook</a></p>

        </span>

        <p>&nbsp;</p>

      </ion-slide>



    </ion-slide-box>

  </ion-content>
</ion-view>

<!--
<ion-view title="Welcome">
  <ion-content>
    <h3 class="title">Take your art with you</h3>

    <img src="assets/samples/welcome-sample.png" style="max-width: 100%;"/>

    <p>Download your entire Artfinder Portfolio and take it with you to shows, exhibitions or simply show it to your family or friends!</p>

    <a ng-href="#/intro/login" class="button icon-right ion-chevron-right button-calm">Next</a>
  </ion-content>
</ion-view>
-->