<ion-view class="blue-bg">
    <ion-content class="login-main-content" padding="false" has-bouncing="false" scroll="false" style="height: 100%;">

        <ion-slide-box class="changed-slide">
            <ion-slide class="center relative">
                <ion-content padding="false"scroll="true">
                <div class="home-logo">
                    <img src="assets/images/logo-iphone.png">
                </div>
                <h1 class="af-title">Carry your entire art Portfolio in your pocket.</h1>

                <div class="home-banner">
                    <span>Welcome to your Artfinder Portfolio! Download your artworks to this app to show to your collectors, fans, family and friends.</span>
                </div>

                <div class="swipe-info">Swipe to continue »</div>
                </ion-content>
            </ion-slide>
            <ion-slide class="relative">
                <ion-content padding="false"scroll="true">
                    <div class="padding-page">
                        <ul class="welcome-list">
                            <li><i class="icon ion-checkmark-circled"></i><span>Download your Artfinder Portfolio and keep it in your pocket</span></li>
                            <li><i class="icon ion-checkmark-circled"></i><span>Easily navigate through your artworks and collections</span></li>
                            <li><i class="icon ion-checkmark-circled"></i><span>Instantly sign up new followers on the spot.</span></li>
                        </ul>
                    </div>
                    <div class="swipe-info">Swipe to continue »</div>
                </ion-content>
            </ion-slide>
            <ion-slide class="relative">
                <ion-content padding="false"scroll="true">
                    <div class="center">
                        <h2 class="main">Let‘s get started!</h2>
                        <p class="main-article">You will be asked to log in to your Artfinder account in a separate browser window to authorise access. Once logged in please click "Begin Download" to start downloading your artworks.</p>
                    </div>

                    <div class="padding-page">
                        <button class="btn btn-main center" ng-click="openExternalUrl('https://www.artfinder.com/login/?next=/manage/portfolio-app-login/');" nav-clear>Login</button>
                    </div>
                    <div class="padding-page">
                        <span class="help"><a href="#/intro/login">Manually enter authorisation code</a></span>
                    </div>
                    
                </ion-content>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
