<ion-view>
  <ion-content padding="true" has-bouncing="false" class="center">
    <h3>Please wait...</h3>
    <p>Your Artfinder portfolio is now being downloaded to the device for offline access.<br/>This may take some time...</p>

    <span class="icon ion-looping"></span>

    <p>Fetching... {{ statusTxt }} artworks</p>

    <button id="cancel_download_button" class="button button-calm">
        Finish later
    </button>
    <a ng-href="#/intro/complete" class="button icon-right ion-chevron-right button-calm">
        Skip
    </a>
  </ion-content>
</ion-view>