<ion-view class="blue-bg">
  <ion-content padding="false" has-bouncing="false">
    <div class="center">
        <h2 class="main">Ta-dah!</h2>
        <i class="icon ion-ios7-checkmark-outline complete-icon"></i>
        <div class="main-article">
            We’ve finished downloading your Artfinder Portfolio and you can now browse your artworks at your leisure.
            <br><br>
            <span ng-if="errorsCount">
              <b>Warning:</b> We have experienced issues downloading {{ errorsCount }} of your artworks. There
              is {{ downloadedCount }} items downloaded correctly. You may use option "Refresh artworks" to 
              refetch missing artworks.
              <br><br>
            </span>
            Please note, if you add new works to your Artfinder store, you will need to download your Portfolio again.
        </div>
    </div>
    <div class="padding-page">
        <a href="#/portfolio/artworks/" class="btn btn-main center" nav-clear>
          View my Portfolio
        </a>
    </div>
  </ion-content>
</ion-view>