/* Fonts */
@font-face {
  font-family: 'BrandonText';
  src: url('../fonts/BrandonText-Regular/260266_7_0.eot');
  src: url('../fonts/BrandonText-Regular/260266_7_0.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BrandonText-Regular/260266_7_0.woff') format('woff'),
       url('../fonts/BrandonText-Regular/260266_7_0.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'BrandonText';
  src: url('../fonts/BrandonText-Bold/260266_1_0.eot');
  src: url('../fonts/BrandonText-Bold/260266_1_0.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BrandonText-Bold/260266_1_0.woff') format('woff'),
       url('../fonts/BrandonText-Bold/260266_1_0.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'BrandonText';
  src: url('../fonts/BrandonText-Light/260266_A_0.eot');
  src: url('../fonts/BrandonText-Light/260266_A_0.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BrandonText-Light/260266_A_0.woff') format('woff'),
       url('../fonts/BrandonText-Light/260266_A_0.ttf') format('truetype');
  font-weight: lighter;
}

@mixin animate-all($time){
  -webkit-transition: all $time;
  -moz-transition: all $time;
  -o-transition: all $time;
  transition: all $time;
}

$defaultFont:       "BrandonText", Arial;

$accentColor:       #1285b5;
$accentDarkColor:   #0071a0;
$unActiveDotColor:  #00A6CA;
$accentLightColor:  #139bd4;
$mainOrange:        #f26c4f;
$mainShadow:        #c7492e;
$mainOrangeDark:    #ea6245;
$darkGrey:          #414141;


/* FONT SIZES */
$smallFont:         13px;
$normalFont:        16px;
$mediumFont:        18px;
$largeFont:         25px;
$hugeFont:          28px;

$inputFont:         18px;
$buttonFont:        22px;
$h1Font:            20px;

