<!-- TODO: Get rid of inline styles, move to main.css -->
<div style="position: relative;">
    <div>
        <i class="ion-chevron-up" style="font-size: 400%"></i>
    </div>
    <div style="width: 70vw; height: 50vh; vertical-align: middle; display: table-cell;">
        <div style="width: 50%; margin: auto; font-size: 2em; line-height: 1.2;">
            <i class="ion-android-hand" style="font-size: 200%;"></i><br/>
            Swipe up / down to view<br/>next / previous artwork...
        </div>
    </div>
    <div class="position: absolute; bottom: 0;">
        <i class="ion-chevron-down" style="font-size: 400%;"></i>
    </div>
</div>