<ion-view title="{{ title }}">
  <ion-nav-buttons side="left">
    <button class="button button-icon fa fa-angle-left" ng-click="goBack();"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon fa fa-info-circle medium-icon" ng-click="displayArtworkInfo();"></button>
  </ion-nav-buttons>
  <ion-content class="has-header artwork-slidebox white-bg" has-bouncing="true" on-swipe-up="loadNext();" on-swipe-down="loadPrev();">
    <ion-slide-box>
      <ion-slide ng-repeat="image in images">
        <div class="slidebox100h">
           <div class="image-detail-slide">
             <a href="#/artwork-fs/{{ artwork.id }}/{{ $index }}">
               <img ng-src="{{ image }}">
             </a>
           </div>
        </div>
      </ion-slide>
    </ion-slide-box>
    <div id="artworkDisplayInfoOverlay" class="swipe-info-artwork{{ hideInfoOverlay }}" ng-click="dismissInstructionsOverlay()">
        <div class="big-icon top">
            <div class="fa fa-arrow-up"></div>
        </div>
        <div class="big-icon hand">
            <div class="fa fa-hand-o-up"></div>
        </div>
        <div class="text-info-swipe">
            Swipe up or down to view<br>
            next/previous artwork
        </div>
        <div class="big-icon">
            <div class="fa fa-arrow-down"></div>
        </div>
    </div>
  </ion-content>
</ion-view>
