<ion-view title="{{ artwork.name }}">
  <ion-nav-buttons side="left">
    <button class="button button-icon ion-ios7-arrow-back" ng-click="goBack();"> Back</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-information-circled" ng-click="displayArtworkInfo();"></button>
  </ion-nav-buttons>
  <ion-content class="has-header artwork-slidebox" has-bouncing="false">

    <ion-slide-box on-swipe-up="loadNext();" on-swipe-down="loadPrev();">
      <ion-slide ng-repeat="image in artwork.images">
        <div class="slidebox100h">
          <img ng-src="{{ image.fluid_large.local_path }}">
        </div>
      </ion-slide>
    </ion-slide-box>



  </ion-content>
</ion-view>
<!--
<div class="loading-container visible active">
      <div class="artwork-info-overlay">
        <div style="position: relative;">
    <div>
        <i class="ion-chevron-up" style="font-size: 400%"></i>
    </div>
    <div style="width: 70vw; height: 50vh; vertical-align: middle; display: table-cell;">
        <div style="width: 50%; margin: auto;">Swipe up and down to switch between artworks...</div>
    </div>
    <div class="position: absolute; bottom: 0;">
        <i class="ion-chevron-down" style="font-size: 400%;"></i>
    </div>
</div>
      </div>
    </div>

    -->