<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Artwork details</h1>
      <button class="button button-icon icon ion-close" ng-click="closeArtworkInfo();"></button>
    </ion-header-bar>
    <ion-content class="padding padding-vertical" has-bouncing="false">

        <div class="list card">

          <div class="item item-text-wrap">
            <h1>{{ artwork.name }}</h1>
            <p>
              {{ artwork.description }}
            </p>
          </div>

          <div class="item">
            <h2>Category</h2>
            <p>{{ artwork.category }}</p>
          </div>

          <div class="item">
            <h2>Subject</h2>
            <p>{{ artwork.subject }}</p>
          </div>

          <div class="item">
            <h2>Style</h2>
            <p>{{ artwork.style }}</p>
          </div>

          <div class="item">
            <h2>Size (cm)</h2>
            <p>{{ artwork.size_cm }}</p>
          </div>

          <div class="item">
            <h2>Size (in)</h2>
            <p>{{ artwork.size_in }}</p>
          </div>

          <div class="item">
            <h2>Substrate</h2>
            <p>{{ artwork.substrate }}</p>
          </div>

          <div class="item">
            <h2>Price</h2>
            <p>{{ artwork.currency }} {{ artwork.price }}</p>
          </div>

          <button class="item item-icon-left calm" ng-click="shareArtwork(artwork.images[0].fluid_large.local_path);">
            <i class="icon ion-share"></i>
            Share
          </button>

        </div>

    </ion-content>
</ion-modal-view>