<ion-modal-view>
    <ion-header-bar class="bar-blue">
      <h1 class="title">Artwork details</h1>
      <button class="button button-icon icon ion-close smaller-icon" ng-click="closeArtworkInfo();"></button>
    </ion-header-bar>
    <ion-content padding="false" has-bouncing="false">

        <div class="list">

          <div class="item item-text-wrap">
            <h1 class="detail-title">{{ artwork.name }}</h1>
          </div>

          <div class="item item-text-wrap">
              {{ artwork.description }}
          </div>

          <div class="item">
            <ul class="modal-detail-list">
                <li><i class="icon ion-ios7-arrow-forward"></i><span>Category: {{ artwork.category }}</span></li>
                <li ng-if="{{ artwork.unique }}"><i class="icon ion-ios7-arrow-forward"></i><span>Unique</span></li>
                <li><i class="icon ion-ios7-arrow-forward"></i><span>Size: {{ artwork.size_cm }}</span></li>
                <li><i class="icon ion-ios7-arrow-forward"></i><span>{{ artwork.currency }} {{ artwork.price }}</span></li>
                <li ng-if="{{ artwork.framed }} == u"><i class="icon ion-ios7-arrow-forward"></i><span>Framed</span></li>
            </ul>
          </div>



          <!--button class="item item-icon-left calm" ng-click="shareArtwork(artwork.images[0].fluid_large.url);">
            <i class="icon ion-share"></i>
            Share
          </button-->

        </div>

    </ion-content>
</ion-modal-view>